<%- include('../partials/head.ejs') %>

<%- include('../partials/navbar.ejs') %>

    <div id="app">
        <h1>Content</h1>
        <div class="full-dairy">
            <div class="picture">
                <img src="<%= dairy.picture %>" alt="">
            </div>
            <div class="content">
                <div class="dash">
                    <h2>
                        <%= dairy.title %>
                    </h2>
                    <form action="/delete" method="GET">
                        <input type="text" name="id" id="del-id" value="<%=dairy.id%>">
                        <input type="submit" value="Delete Mee?">
                    </form>
                </div>
                <div class="body">
                    <%- dairy.body %>
                </div>
            </div>
        </div>
    </div>

<%- include('../partials/foot.ejs') %>